@font-face {
  font-family: 'p052bold';
  src: local('p052bold'), local('p052bold'),
       url('../fonts/p052-bold.woff2') format('woff2'),
       url('../fonts/p052-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Regular';
  src: local('Roboto Regular'), local('Roboto-Regular'),
       url('../fonts/roboto-regular.woff2') format('woff2'),
       url('../fonts/roboto-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato Regular';
  src: local('Lato Regular'), local('Lato-Regular'),
       url('../fonts/lato-regular.woff2') format('woff2'),
       url('../fonts/lato-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
