// Color
$color-white: #fff;
$color-black: #18191B;
$color-gold: #C6AF66;
$color-grey27: #27282A;
$color-grey42: #424343;
$color-grey63: #63636F;
$color-greyAC: #ACADA5;
$color-greyF7: #F7F7F8;


// Font
$font-family-p052: 'p052bold', Times, serif;
$font-family-roboto: 'Roboto Regular', sans-serif;
$font-family-lato: 'Lato Regular', sans-serif;

// Breakpoints
$lg: 1648px;
$md: 1350px;
$sm: 1100px;
$xs: 900px;
$xxs: 767px;
$xxxs: 430px;

// Padding
$padding-md: 37px;
$padding-sm: 30px;
$padding-xs: 30px;
$padding-xxs: 16px;



